* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(62,62,62);
}

h1 {
    background-color: royalblue;
    text-align: center;
    color: lime;
}

p {
    color: red;
    background-color: blueviolet;
}

div {
    color: green;
    background-color: yellow;
}